.about-company{
	width: 100%;
	margin-top: 60px;

}
.about-company__do{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.about-company__do-lern,
.about-company__do-investing,
.about-company__do-work{
	position: relative;
	width: 383px;
	height: 243px;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 27px;

}
.about-company__do-lern{
	background-image: url(../img/lern.jpg);
		padding-top: 147px;
	padding-left: 125px;
}
.about-company__do-investing{
background-image: url(../img/investing.jpg);
		padding-top: 147px;
		padding-left: 60px;
}
.about-company__do-work{
	background-image: url(../img/work.jpg);
			padding-top: 147px;
			padding-left: 118px;
}
.about-company__do-lern:after,
.about-company__do-investing:after,
.about-company__do-work:after{
	position: absolute;
	content: "";
	width: 66px;
	height: 66px;
	background-color: #ffffff;
	border-radius: 50%;
	top: 65px;
	right: 155px;
	z-index: 10;
}
.about-company__do-lern:after{
	background-image: url(..//img/book.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.about-company__do-investing:after{
background-image: url(..//img/cash.svg);
background-repeat: no-repeat;
background-position: 50% 50%;
	right: 160px;
}
.about-company__do-work:after{
	background-image: url(..//img/work.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.about-company__main{
	
	max-width: 1150px;
	margin: 0 auto;
	padding-top: 54px;
	text-align: center;
	font-size: 18px;
	color: #282828;
}
.about-company__main-container{
	margin-top: 45px;
	display: flex;
}
.about-company__main-container-company,
.about-company__main-container-reviews,
.about-company__main-container-social{
	position: relative;
	width: 380px;
	height: 175px;
	border: 1px solid #f0f0f0;
	padding-top: 108px;
	font-size: 16px;
	font-weight: 300;
}
.about-company__main-container-company:before,
.about-company__main-container-reviews:before,
.about-company__main-container-social:before{
	position: absolute;
	content: "";
	z-index: 10;
}
.about-company__main-container-company:before{
	background-image: url(..//img/files-and-folders.svg);
top: 48px;
	width:46px;
	height: 46px;
	right: 162px;
}
.about-company__main-container-reviews:before{
	background-image: url(..//img/review.svg);
		top: 52px;
	width:46px;
	height: 34px;
	right: 160px;
}
.about-company__main-container-social:before{
		background-image: url(..//img/care-about-environment.svg);
			top: 45px;
			right: 157px;
	width:50px;
	height: 46px;

}
@media screen and (max-width:1200px){

	.about-company__do{
	width: 768px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.about-company__do-lern,
.about-company__do-investing,
.about-company__do-work{
	position: relative;
	width: 290px;
	height: 243px;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 27px;
	margin-top: 25px;

}
.about-company__main-container-company,
.about-company__main-container-reviews,
.about-company__main-container-social{

	width: 250px;


}

.about-company__do-lern{
	padding-left: 0;
	text-align: center;
}
.about-company__do-investing{
		padding-left: 0px;
		text-align: center;
}
.about-company__do-work{
			padding-left: 0px;
			text-align: center;
}
.about-company__do-lern:after,
.about-company__do-investing:after,
.about-company__do-work:after{
	position: absolute;
	content: "";
	width: 66px;
	height: 66px;
	background-color: #ffffff;
	border-radius: 50%;
	top: 65px;
	right: 110px;
	z-index: 10;
}

.about-company__main-container{
	flex-direction: column;
align-items: center;

}
.about-company__main-container-company:before,
.about-company__main-container-reviews:before,
.about-company__main-container-social:before{
	right: 100px;
}
}
@media screen and (max-width:767px){
	.about-company__do{
	width: 320px;
}
}