body{
	font-family:montserrat;
}
*{
	outline: none;
}
.main-header__burger-button{
	display: none;
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
.main-header-content{
	display: flex;
	flex-direction: row;
	width: 1200px;
	margin: 0 auto;
}

.content__left-block,
.content__right-block{
	width: 505px;
}
.left-block-header,
.right-block-header{
	height: 37px;
	margin-top: 17px;
	border-bottom: 1px solid #f0f0f0;
}
.left-block-header{
	margin-top: 16px;
}
.left-block-header__exchange-usd{
	margin-left: -3px;
	font-weight: 400;
	font-size: 12px;
}
.left-block-header__exchange-eur{
	font-weight: 400;
	font-size: 12px;

}
.left-block-header__exchange-eur{
	margin-left: 16px;
}
.left-block-header .left-block-header__phone{
	margin-left: 45px;
	padding-left: 30px;
	font-size: 16px;

	font-weight: 400;
color: rgb(25, 25, 25);
	position: relative;
	letter-spacing: 0px;
	text-decoration: none;
	
}


.left-block-header__exchange-usd,
.left-block-header__exchange-eur,
.left-block-footer__address,
.left-block-footer__address{
	padding-left: 18px;
	position: relative;
}
.left-block-header__exchange-usd:before,
{
position: absolute;
content: "";
background-image: url(../img/dollar.svg);
background-repeat: no-repeat;
width: 32px;
height: 16px;
left: -1px;
top: -1px;

}
.left-block-header__exchange-eur:before{
position: absolute;
content: "";
background-image: url(../img/euro.svg);
background-repeat: no-repeat;
width: 16px;
height: 16px;
left: 0px;
top: 1px;
}
.left-block-header__phone:before{
	position: absolute;
content: "";
background-image: url(../img/smartphone.svg);
background-repeat: no-repeat;
width: 24px;
height: 20px;
left: 2px;
top: 0px;
}
.left-block-footer{
	margin-top: 31px;
	display: flex;
}
.left-block-footer address{
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
	color: #8a8a8a;
	padding-left: 25px;
	margin-left: -1px;

}
.left-block-footer__address:before{
	position: absolute;
content: "";
background-image: url(../img/marker.svg);
background-repeat: no-repeat;
width: 16px;
height: 16px;
left: 0px;
top: 0px;
}
.left-block-footer address:last-child{
	margin-left: 29px;
}
.content__logo{
	margin-left: 32px;
	margin-top: 18px;
}
.right-block-header{
	height: 42px;
}
.right-block__email{
	margin-left: 95px;
	font-size: 13px;
	line-height: 21px;
	font-weight: 300;
	display: flex;
}
.email-text{
	margin-top: 7px;
	color: #909090;
	margin-left: -4px;
}
.right-block__email .email-href{
	font-size: 13px;
	line-height: 21px;
	font-weight: 400;
	color: #30a6f9;
	margin-left: 11px;
		margin-top: 7px;
text-decoration: none;
	
}
.right-block-header{

	margin-left: 42px;
	margin-top: 10px;
	width: 500px;
}
.content__right-block___button{
	position: relative;
	margin-left: 43px;
	border-radius: 25px;
	font-size: 11px;
	font-weight: 300;
	width: 105px;
	height: 30px;
	background-color: transparent;
	border: 1px solid #e0e0e0;
	padding-top: 2px;
	padding-left: 13px;
	text-align: left;
	color: #909090;
	margin-top: 2px;
}

.content__right-block___button:after{
	position: absolute;
content: "";
background-image: url(../img/download.svg);
background-repeat: no-repeat;
width: 8px;
height: 8px;
right:  12px;
top: 12px;
}
.right-block-footer{
	margin-left: 40px;
	width: 500px;
	margin-top: 19px;
	

}
.right-block-footer__searh,
.right-block-footer__button{
	position: relative;
	padding-top: 0px;
	padding-left: 15px;
	width: 168px;
	height: 40px;
	border: 1px solid #e0e0e0;
	background-color: transparent;
	border-radius: 25px;
	margin-left: 95px;
	font-size: 13px;
font-weight: 400;
color: #aeaeae;
}
.right-block-footer__searh{
	top: -2px;

}
.right-block-footer__button{
	margin-top: 2px;
		margin-left: 14px;
		width: 218px;
		font-size: 11px;
		text-transform: uppercase;
		color: #ffffff;
		background-color: #30a6f9;
		font-weight: 300;
	outline: none;
	padding-top: 4px;
	padding-left:8px;


}
.right-block-footer__searh::placeholder{
	font-weight: 300;

}
.right-block-footer__searh--label{
	position: absolute;
}
.right-block-footer__searh--label:after{
position: absolute;
content: "";
background-image: url(../img/search.svg);
background-repeat: no-repeat;
width: 16px;
height: 16px;
right: 19px;
top: 13px;


}
button, 
button:active, 
button:focus {
    outline: none;
}


.main-header__main-nav{
	max-width: 1920px;
	min-width: 1200px;
	margin: 0 auto;
		margin-top: 14px;
	min-height: 55px;
	background-color: #2e2e2e;
	margin-bottom: -1px;
}
.main-nav__list{

	list-style: none;
	display: flex;
	width: 922px;
	margin: 0 auto;
	justify-content: space-between;
	padding: 0;
	padding-top: 20px;
	text-transform: uppercase;
	font-size: 14px;

}

.main-nav__list a{
		color: #ffffff;
}
@media screen and (max-width:1200px){
	.main-header-content{
	display: flex;
	flex-direction: row;
	width: 768px;
	margin: 0 auto;
}
.content__left-block,
.content__right-block{
	min-width: 320px;

}
.left-block-header__exchange-usd{
	margin-left: 5px;

}

.left-block-header__exchange-eur{
	margin-left: 10px;
}
.content__logo{

margin-left: 0;

}
.left-block-header,
.left-block-footer{
	width: 320px;
	display: flex;
	margin: 0 auto;
	margin-top: 25px;
}

.left-block-header .left-block-header__phone{
font-size: 12px;
margin-left: 10px;
}


.right-block-header{
	margin-left: 0px;
	width: 320px;
		margin-top: 25px;
}
.right-block__email{

	margin-left: 0px;
	font-size: 12px;
	line-height: 21px;
	font-weight: 300;
	display: flex;

}
.email-text,
.right-block__email .email-href{
	margin-top: -5px;
	font-size: 10px;
}

.right-block-footer{
	margin-left: 30px;
	width: 280px;
	margin-top: 20px;
}
.content__right-block___button{
	margin-left: 10px;
	margin-top: -10px;
}

.right-block-footer__searh,
.right-block-footer__button{
	position: relative;
	width: 130px;
	height: 40px;

	margin-left: 5px;
	font-size: 14px;

}
.right-block-footer__button{
	font-size: 10px;
	bottom: 10px;
}

.main-header__main-nav{
	min-width: 768px;
}
.main-nav__list{

	list-style: none;
	display: flex;
	width: 768px;
	margin: 0 auto;
	justify-content: space-around;
	padding: 0;
	padding-top: 20px;
	text-transform: uppercase;
	font-size: 14px;
}
.main-header__burger-button{
	display: none;
}
.right-block-footer__button{
	font-size: 9px;
}
}
@media screen and (max-width:767px){

	.main-header-content{
	display: flex;
	flex-direction: column;
	width: 320px;
	margin: 0 auto;
	align-items: center;

}
.left-block-header__exchange-usd{
	margin-left: 5px;

}

.left-block-header__exchange-eur{
	margin-left: 10px;
}
.content__left-block,
.content__right-block{
	width: 320px;
}
.content__logo{
	order: -1;
}
.left-block-footer address:last-child{
	margin-left: 15px;
}
.left-block-footer address:first-child{
	margin-left: 15px;
}
.main-header{
	position: relative;
	overflow: hidden;
}


.main-header__main-nav{
	min-height: 200px;
	min-width: 100%;
	position: absolute;
	top: 0;
	transform: translateX(100%);
	transition: 2s;
}
.main-nav__list{
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 14px;
}
.main-nav__item{
	margin-top: 10px;

}
.main-header__burger-button{
	position: absolute;
	width: 40px;
	height: 20px;
	border: none;
	background-color: transparent;
	right: 10%;
	top: 25px;
	padding:0;
	transition: 2s;
}
.burger-button{
	position: relative;
	top: -10px;
	width: 40px;
	height: 2px;
	background-color: #000000;
	box-shadow: 0 10px 0 0 #000000;
	border-radius: 10px;
		transition: 0.5s;

}
.main-header__burger-button{
	display: block;
}
.burger-button:after{
	content: "";
	position: absolute;
	width: 40px;
	height: 2px;
	background-color: #000000;
	left: 0;
	top: 20px;
	border-radius: 10px;

}
.burger-button--rotate.burger-button {
	box-shadow: 0 0px 0 0 #000000;
	top: 0;
	transform: rotate(135deg);
	background-color: #ffffff;
	z-index: 50;

}
.burger-button--rotate.burger-button:after{
	top: 0;
	transform: rotate(-90deg);
	background-color: #ffffff;
	z-index: 50;

}
.main-header__main-nav.mobile-view{
transform: translateX(0);
}
.right-block-footer__button{
	font-size: 9px;
}
}